PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://dhanshri-rc:Dhanshrirc%40123@ac-wqndy7g-shard-00-00.zgpp6ee.mongodb.net:27017,ac-wqndy7g-shard-00-01.zgpp6ee.mongodb.net:27017,ac-wqndy7g-shard-00-02.zgpp6ee.mongodb.net:27017/rc_erp?ssl=true&authSource=admin&retryWrites=true&w=majority
# MONGODB_URI=mongodb://dhanshri-rc:Dhanshrirc%40123@ac-wqndy7g-shard-00-00.zgpp6ee.mongodb.net:27017,ac-wqndy7g-shard-00-01.zgpp6ee.mongodb.net:27017,ac-wqndy7g-shard-00-02.zgpp6ee.mongodb.net:27017/rcErp?ssl=true&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=fa6bf20433e2353a83751d419c86077d665c9c5f930ef052e90724662566d714e9104a6cb570b7d58fe50bb110776a53
FRONTEND_URL=http://localhost:5173
COOKIE_SAME_SITE=lax
TRUST_PROXY=false
UPLOAD_DIR=uploads
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_EMAIL=admi@rcerp.local
SEED_ADMIN_PASSWORD=Admin@123456


